.tatca span {
  font-size: 20px;
  color: #fff;
}
.chuto h1 {
  margin-bottom: 23px;
}
.imgs7 img {
  margin-right: 90px;
}
.container {
  height: 1830px;
}
/* phaninstall */
.bodrer {
  border-top: 1px solid rgba(145, 147, 168, 0.25);
  width: 87%;
  margin: 60px 0px;
}
.btn-outline {
  display: flex;
  margin-left: 240px;
  margin-top: 30px;
}
.outline span {
  font-size: 28px;
  margin-left: 480px;
  color: #fff;
  font-weight: 100;
}
.btn1 a {
  border-color: #55cfff;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  margin: 0px 8px 8px;
  padding: 7.6px 23.6px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.btn a {
  border-color: #b4b5c4;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  margin: 0px 8px 8px;
  padding: 7.6px 23.6px;
  text-align: center;
  font-size: 18px;
  color: #b4b5c4;
}
/* phanduoiinsstal */

.well {
  background-color: #141526;
  width: 931px;
  height: 154px;
  margin-left: 130px;
  margin-top: 30px;
  padding-top: 22px;
  line-height: 22px;
}
.dollar:before {
  content: "$";
  opacity: 0.5;
  color: rgb(219, 219, 219);
  font-weight: 500;
}
.dollar {
  margin-left: -70px;
  font-size: 15px;
  color: #fff;
}
.code-comment {
  margin-left: -70px;
  font-size: 15px;
  color: rgb(134, 134, 134);
}
/* phanduoicode */

.download {
  margin-left: -200px;
  text-align: center;
}
.download h4 {
  font-size: 28px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 18px;
}
.download span {
  font-size: 17px;
  color: #fff;
}
.download a {
  color: #55cfff;
}
.download a:hover {
  color: #80d6f8;
}
.phan4flex {
  display: flex;
  text-align: center;
  margin-top: 60px;
  padding: 20px 0px;
}
.borer {
  border-right: 1px solid rgba(145, 147, 168, 0.25);
  margin: 0px 30px;
  height: 300px;
}
.will span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin: 15px 0px;
}
.will a {
  border-color: #40c7fc;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  padding: 8.6px 30.6px;
  text-align: center;
  font-size: 16px;
  color: #40c7fc;
  font-weight: 500;
}
.will p {
  color: #9193a8;
  margin-top: 30px;
  line-height: 23px;
}
.will .fa-angle-right {
  color: #40c7fc;
  font-size: 15px;
  position: relative;
}
.our {
  padding: 30px 201px;
}
